{% extends 'main.html' %} {% block content %}
<h1>Projects</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iusto illum,
  maxime error deserunt expedita vitae explicabo eligendi, eaque, natus rem
  culpa inventore veniam provident ducimus libero qui fuga placeat.
</p>

<table>
  <tr>
    <th>Project</th>
    <th>Votes</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{project.title}}</td>
    <td>{{project.vote_ratio}}</td>
    <td>{{project.description}}</td>
    <td><a href="{% url 'project' project.id%}">View</a></td>
    <td><a href="{% url 'update-project' project.id%}">update</a></td>
    <td><a href="{% url 'delete-project' project.id%}">delete</a></td>
  </tr>
  {% endfor %}
</table>
{%endblock content %}
